* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 1200px;
  margin: 0 auto;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.grid-item--width2 { width: 400px; }
.grid-item--height2 { height: 400px; }

/*Media Queries*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
  .grid{

  }
	.grid-item {
		width: 16%;
    padding-top: 16%;
	}
  .grid-item--width2 {
    width: 33%;
  }
  .grid-item--height2 {
    padding-top: 33%;
  }
}

@media only screen and (max-width : 820px),
only screen and (max-device-width : 820px){
	.grid-item {
		width: 25%;
    padding-top: 25%;
	}
  .grid-item--width2 {
    width: 50%;
  }
  .grid-item--height2 {
    padding-top: 50%;
  }

}

@media only screen and (max-width : 576px),
only screen and (max-device-width : 576px){
  .grid-item {
		width: 50%;
    padding-top: 50%;
	}
  .grid-item--width2 {
    width: 100%;
  }
  .grid-item--height2 {
    padding-top: 100%;
  }
}
